.photoContent {
    @include breakpoint-down(medium) {
        flex-direction: column;
    }
    
    &_text {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 50%;
        height: 596px;
        text-align: center;
        flex-direction: column;
        padding: 24px;

        h3 {
            color: $graphicDesignCyan;
            margin: 0;

            &.photoChange {
                color: $photographyBlue;
            }
        }
        
        p {
            color: $graphicDesignCyan;
            // width: 75%;
            &.photoChange {
                color: $photographyBlue;
            }
        }

        @include breakpoint-down(medium) {
            width: 100%;
            max-height: 400px;
            vertical-align: middle;
        }
        @include breakpoint-down(small) {
            max-height: 345px;
            padding: 24px;

            h3 {
                font-size: $font-med;
            }
            
            p, a {
                font-size: $font-small;
            }
        }
    }
}