//Navigation background color
$navBG: rgb(0, 191, 255);

//Font colors
$red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$graphicDesignCyan: hsl(167, 40%, 24%);
$photographyBlue: hsl(198, 62%, 26%);
$footerCyan: hsl(168, 34%, 41%);
$darkBlue: hsl(212, 27%, 19%);
$vDarkGrayBlue: hsl(213, 9%, 39%);
$darkGrayBlue: hsl(232, 10%, 55%);
$grayBlue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

//Font sizes
$font-xBig: 2.625rem; //42px
$font-big: 2.375rem; //38px
$font-med: 1.125rem; //18px
$font-small: 0.875rem; //14px
